
body {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 0;  
    margin: 0;
    overflow: hidden;
}
.container {
    margin-top: 100px;
}
h1 {
    color: #72067b;
    margin-bottom: 70px;
}
.button {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 10px auto;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 10px 5px 10px rgb(0, 0, 0);
    margin-bottom: 20px;
}
.button:hover {
    background-color: #0056b3;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        background-size: cover; 
        background-image: url(https://i.pinimg.com/736x/11/61/33/1161331e77c8de04ec0771868df0bd1a.jpg);
    }
}